.popup__save_disabled {
  display: block;
  border: 1px solid #000000;
  opacity: 0.2;
  border-radius: 2px;
  background-color: #E5E5E5;
  color: #000000;
}

.popup__save_disabled:hover {
  opacity: 0.2;
}