.popup-delete__question {
  margin: 34px 36px 38px;
  padding: 0;
  color: #000;
  font-size: 24px;
  line-height: 29px;
  font-style: normal;
  font-weight: 900;
  text-align: left;
  width: 358px;
  height: 23px;
}