.popup__save-text {
  color: #fff;
  font-size: 18px;
  line-height: 21.78px;
  font-style: normal;
  font-weight: 400;
}

@media screen and (max-width: 544px) {
  .popup__save-text {
    font-size: 14px;
    line-height: 16.94px;
  }
}
