.profile__intro {
  margin: 22px 0 0;
  padding: 0;
  max-width: 336px;
  max-height: 39px;
  grid-area: 'profile__intro';
  display: flex;
  align-items: baseline;
}

@media screen and (max-width: 544px) {
  .profile__intro {
    margin: 26.25px 0 0 25px;
  }
}
