.element__delete {
  margin: 0;
  padding: 0;
  cursor: pointer;
  background-image: url('../../../images/delete.svg');
  border: none;
  background-color: rgba(0, 0, 0, 0);
  background-size: contain;
  background-repeat: no-repeat;
  width: 18px;
  height: 19px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.element__delete:hover {
  opacity: 50%;
}
