.popup__close {
  width: 32px;
  height: 32px;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  background-image: url('../../../images/CloseIcon.svg');
  background-size: contain;
  border: 0;
  position: absolute;
  top: -40px;
  right: -40px;
}

.popup__close:hover {
    opacity: 60%;
}

@media screen and (max-width: 544px) {
  .popup__close {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}
