.element__like {
  margin: 0;
  padding: 0;
  cursor: pointer;
  background-image: url('../../../images/like.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 22px;
  height: 19px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.element__like:hover {
  opacity: 50%;
}
